{% extends 'base.html' %}
{% block page_content %}
    <div class="text-center">
        <h2>Edit profile</h2>
    </div><br/>
    <form action="{% url 'edit profile' request.user.id %}" method="post" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <div class="text-center"><br/>
            <button class="btn btn-primary" type="submit">Edit</button>

        </div>
    </form>

    <div class="text-center"><br/>
        <a class="btn btn-primary" type="submit" href="{% url 'change password' %}">Change password</a>
        <a class="btn btn-danger" type="submit" href="{% url 'delete account' request.user.id %}">Delete account</a>
    </div>
{% endblock %}

