{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {# Post Details start #}
    <div class="container py-5 px-2 bg-white">
        <div class="row px-4">
            <div class="col-12">
                <img class="img-fluid mb-4" src="{{ post.image.url }}" alt="Image">
                <h2 class="mb-3 font-weight-bold">{{ post.heading }}</h2>
                <div class="d-flex">
                    <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.created_on }}</p>
                    <a class="mr-2 text-muted" href="{% url 'dashboard category' post.category %}"><i
                            class="fa fa-folder"></i>{{ post.category }}</a>
                    {% if is_owner or not request.user.is_authenticated %}
                        <p class="mr-2 text-muted"><i
                                class="fa fa-user"></i>{{ object.user.profile.get_full_name }}</p>

                    {% else %}
                        <a class="mr-2 text-muted" href="{% url 'view profile' object.user.id %}"><i
                                class="fa fa-user"></i>{{ object.user.profile.get_full_name }}</a>
                    {% endif %}
                </div>
                <p>
                    {{ post.text }}
                </p>
            </div>

            {% if is_owner or request.user.is_superuser %}
                <div class="text-center"><br/>
                    <a class="btn btn-primary" type="submit" href="{% url 'edit post' post.id %}">Edit</a>
                    <a class="btn btn-danger" type="submit" href="{% url 'delete post' post.id %}">Delete</a>
                </div>
            {% endif %}

            {# Post Details end #}

            {# Comments start #}
            <div class="col-12 py-4">
                <h3 class="mb-4 font-weight-bold">{{ comments.count }} Comments</h3>
                {% for comment in comments %}
                    <div class="media mb-4">
                        <img src="{{ comment.user.profile.profile_image.url }}" alt="Image"
                             class="mr-3 mt-1 rounded-circle" style="width:60px;">
                        <div class="media-body">
                            {% if request.user == comment.user or not request.user.is_authenticated %}
                                <h4 class="mr-2 text-muted"> {{ comment.user.profile.get_full_name }}</h4>

                            {% else %}
                                <a class="mr-2 text-muted" href="{% url 'view profile' comment.user.id %}">
                                    <h4>{{ comment.user.profile.get_full_name }}</h4>
                                </a>
                            {% endif %}
{#                            <a class="mr-2 text-muted" href="{% url 'view profile' object.user.id %}">#}
{#                                <h4> {{ comment.user.profile.get_full_name }}</h4>#}
{#                            </a>#}
                            <small>
                                <i>{{ comment.created_on }}</i>
                            </small>
                            <p>
                                {{ comment.message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# Comments end #}

            {# Leave a comment starts #}
            {% if not can_not_comment %}

                {# Owners and not authenticated users can't comment #}

                <div class="col-12">
                    <h3 class="mb-4 font-weight-bold">Leave a comment</h3>
                    <form method="post" action="{% url 'post details' post.id %}">
                        {{ form }}
                        {% csrf_token %}

                        <div class="text-center"><br/>
                            <button class="btn btn-primary" type="submit">Leave a comment</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {# Leave a comment ends #}
        </div>
    </div>
{% endblock %}
