{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="container p-0">
        <div id="blog-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="mb-3 text-white font-weight-bold">Welcome to Bloggy - Your personal blog!</h2>
                        <br><br><br><br>
                        <div class="text-left">
                            <h3 class="mb-3 text-white font-weight-bold">Built in for readers and writers</h3>
                            <p>We're building a better place on the internet: and-free, open-platform where the best
                                stories rise on top.</p>
                            <h3 class="mb-3 text-white font-weight-bold">Customised for you</h3>
                            <p>Follow the topics,writers and publications you care about most.</p>
                            <h3 class="mb-3 text-white font-weight-bold">Anywhere, anytime</h3>
                            <p>Responsive design for all platforms.</p>
                        </div>

                        <a href="{% url 'dashboard' %}" class="btn btn-lg btn-outline-light mt-4">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
